[submodule "Vision"]
	path = Vision
	url = https://github.com/InterfaceGuy/Vision.git
[submodule "GameTheory"]
	path = GameTheory
	url = https://github.com/InterfaceGuy/GameTheory.git
[submodule "Narrative"]
	path = Narrative
	url = https://github.com/InterfaceGuy/Narrative.git
[submodule "LiminalMind"]
	path = LiminalMind
	url = https://github.com/InterfaceGuy/LiminalMind.git
[submodule "DomesticatedMind"]
	path = DomesticatedMind
	url = https://github.com/InterfaceGuy/DomesticatedMind.git
[submodule "CollectiveIntelligence"]
	path = CollectiveIntelligence
	url = https://github.com/InterfaceGuy/CollectiveIntelligence.git
[submodule "LiminalWebUI"]
	path = LiminalWebUI
	url = https://github.com/InterfaceGuy/LiminalWebUI
[submodule "Protocol"]
	path = Protocol
	url = https://github.com/InterfaceGuy/Protocol.git
[submodule "Space"]
	path = Space
	url = https://github.com/InterfaceGuy/Space.git
[submodule "Love"]
	path = Love
	url = https://github.com/InterfaceGuy/Love.git
[submodule "Fear"]
	path = Fear
	url = https://github.com/InterfaceGuy/Fear.git
[submodule "Consensus"]
	path = Consensus
	url = https://github.com/InterfaceGuy/Consensus.git

[submodule "Culture"]
	path = Culture
	url = https://github.com/InterfaceGuy/Culture.git
[submodule "HeavenOnEarth"]
	path = HeavenOnEarth
	url = https://github.com/InterfaceGuy/HeavenOnEarth.git
[submodule "FirstPrinciplesAndFirstValues"]
	path = FirstPrinciplesAndFirstValues
	url = https://github.com/InterfaceGuy/FirstPrinciplesAndFirstValues.git
[submodule "CoCreation"]
	path = CoCreation
	url = https://github.com/InterfaceGuy/CoCreation.git
[submodule "MachineIntelligence"]
	path = MachineIntelligence
	url = https://github.com/InterfaceGuy/MachineIntelligence.git
[submodule "EarthPower"]
	path = EarthPower
	url = https://github.com/InterfaceGuy/EarthPower.git
[submodule "HumanIntelligence"]
	path = HumanIntelligence
	url = https://github.com/InterfaceGuy/HumanIntelligence.git
[submodule "SkyPower"]
	path = SkyPower
	url = https://github.com/InterfaceGuy/SkyPower.git
[submodule "SuperAlignment"]
	path = SuperAlignment
	url = https://github.com/InterfaceGuy/SuperAlignment.git
[submodule "NatureIntelligence"]
	path = NatureIntelligence
	url = https://github.com/InterfaceGuy/NatureIntelligence.git
