[submodule "Vision"]
	path = Vision
	url = https://github.com/InterfaceGuy/Vision.git
[submodule "MolochConsciousness"]
	path = MolochConsciousness
	url = https://github.com/InterfaceGuy/MolochConsciousness.git
[submodule "GameTheory"]
	path = GameTheory
	url = https://github.com/InterfaceGuy/GameTheory.git
[submodule "Narrative"]
	path = Narrative
	url = https://github.com/InterfaceGuy/Narrative.git
[submodule "Noosphere"]
	path = Noosphere
	url = https://github.com/InterfaceGuy/Noosphere.git
[submodule "MultipolarTrap"]
	path = MultipolarTrap
	url = https://github.com/InterfaceGuy/MultipolarTrap.git
[submodule "Moloch"]
	path = Moloch
	url = https://github.com/InterfaceGuy/Moloch.git
[submodule "LiminalMind"]
	path = LiminalMind
	url = https://github.com/InterfaceGuy/LiminalMind.git
[submodule "Biosphere"]
	path = Biosphere
	url = https://github.com/InterfaceGuy/Biosphere.git
[submodule "DomesticatedMind"]
	path = DomesticatedMind
	url = https://github.com/InterfaceGuy/DomesticatedMind.git
[submodule "CollectiveIntelligence"]
	path = CollectiveIntelligence
	url = https://github.com/InterfaceGuy/CollectiveIntelligence.git
[submodule "MiracleConsciousness"]
	path = MiracleConsciousness
	url = https://github.com/InterfaceGuy/MiracleConsciousness.git
[submodule "Hyperstition"]
	path = Hyperstition
	url = https://github.com/InterfaceGuy/Hyperstition.git
[submodule "LiminalWebUI"]
	path = LiminalWebUI
	url = https://github.com/InterfaceGuy/LiminalWebUI
[submodule "Protocol"]
	path = Protocol
	url = https://github.com/InterfaceGuy/Protocol.git
[submodule "Space"]
	path = Space
	url = https://github.com/InterfaceGuy/Space.git
[submodule "Love"]
	path = Love
	url = https://github.com/InterfaceGuy/Love.git
[submodule "Fear"]
	path = Fear
	url = https://github.com/InterfaceGuy/Fear.git
[submodule "Consensus"]
	path = Consensus
	url = https://github.com/InterfaceGuy/Consensus.git

[submodule "Culture"]
	path = Culture
	url = https://github.com/InterfaceGuy/Culture.git
[submodule "HeavenOnEarth"]
	path = HeavenOnEarth
	url = https://github.com/InterfaceGuy/HeavenOnEarth.git
[submodule "FirstPrinciplesAndFirstValues"]
	path = FirstPrinciplesAndFirstValues
	url = https://github.com/InterfaceGuy/FirstPrinciplesAndFirstValues.git
[submodule "CoCreation"]
	path = CoCreation
	url = https://github.com/InterfaceGuy/CoCreation.git
